<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <input v-model="message">
            <button v-on:click="submitMessage">提交</button>
        </div>
        <ul>
            <todo-item 
            v-for="(item, index) in items" 
            :key="index" 
            :index="index" 
            :content="item" 
            v-on:delete="deleteItem">
            </todo-item>
        </ul>
    </div>

    <script>
        // 全局组件
        Vue.component('todo-item', {
            props: ['content', 'index'],
            template: '<li v-on:click="clickItem">{{ content }}</li>',
            methods: {
                clickItem: function() {
                    this.$emit('delete', this.index)
                }
            }
        })

        var vm = new Vue({
            el: '#app',
            data: {
                message: '',
                items: []
            },
            methods: {
                submitMessage: function() {
                    this.items.push(this.message)
                    this.message = ''
                },
                deleteItem: function(index) {
                    this.items.splice(index, 1)
                }
            }
        })
    </script>
</body>
</html>